<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
  <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
  <title>Chat</title>
</head>
<body class="m-5">
  <script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
  <script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

  <a th:href="@{/chat/{id}/message(id=${id})}">チャットページに進む</a>
  <a class="ml-5" href="/book/chat">戻る</a>
</body>
</html>