<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
      <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
      <title>編集画面</title>
  </head>
  <body>
    <script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    
      <h2>紹介本編集</h2>
      <form th:action="@{/post/update/{id}(id=${id})}" th:object="${post}" method="post">
          <label>タイトル</label>
          <input type="text" th:field="*{name}" th:errorclass="invalid"><br>
          <div class="red" th:errors="*{name}"></div>
          <label>紹介文　</label>
          <input type="text" th:field="*{introduction}" th:errorclass="invalid">
          <button>編集</button><br>
          <div class="red" th:errors="*{introduction}"></div>
      </form>
      <a class="back_to_list edit" href="/book/post">一覧へ戻る</a>
  </body>
</html>