<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>チャット</title>
</head>
<body>
    <form th:action="@{/chat/1/message/create}" th:object="${message}" method="post">
        <input type="text" th:field="*{text}">
        <button>送信</button>
    </form>

    <h2>チャット</h2>
    <table>
        <tbody>
            <tr th:each="message : ${messages}">
                <td><a>[[${message.text}]]</a></td>
                <td><a th:href="@{/chat/1/message/delete/{id}(id=${message.id})}">削除</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>